@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'charm';
  src: url('./public/Gabriela-Regular.ttf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
}

body {
  font-family: 'gabriela'; /* Use the custom font */
}